.Header {
  width: 100%;
}

.Header--common {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.Header {
  background-color: #FFFFFF;
  display: grid;
  height: 70px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-right: 36px;
  margin-bottom: 0;
  margin-left: 36px;
  max-width: 100%;
  position: relative;
}

div {
  padding: 0;
}

@media screen and (min width: 768px)
.HeaderLogo {
  transition: opacity 0.2s;
}

.HeaderLogo {
  align-self: center;
}

a {
  color: #000000
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.HeadContainer>*:last-child {
  display: inline-flex;
}

.HeaderLogo__image--pc {
  display: block;
  height: 20px;
  width: auto;
}

img. lazy {
  min-height: 1px;
}

.HeaderLogo__image--sp {
  display: none;
  height: 16px;
  width: auto;
}

img {
  border: 0;
  vertical-align: middle;
}

.HeaderMenuList {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
  justify-content: center;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  text-decoration: none;
}

a {
  color: #000000;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  text-decoration: none;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  text-decoration: none;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  text-decoration: none;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  text-decoration: none;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem {
  transition: opacity 0.2s;
}

.HeaderMenuListItem {
  margin-right: 45px;
}

li {
  margin: 0;
  padding: 0;
}

.HeaderMenuListItem__link {
  display: block;
}

a {
  color: #000000
  text-decoration: none;
}

.HeaderMenuListItem:last-of-type {
  margin-right: 0;
}

.HeaderMenuListItem__button:visited {
  color: #FFFFFF;
}

@media screen and (min width: 768px) 
.HeaderMenuListItem__button {
  transition: opacity 0.2s;
}

.HeaderMenuListItem__button {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 12px;
  height: 40px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.HeaderMenuListItem__button:hover {
  background-color: rgba(247, 146, 20, 0.5);
}

.FirstView {
  position: relative;
  height: 739px;
}

.FirstView__bg-image {
  position: absolute;
}

/* 左上 この辺について、手本のHTMLではlazy以下もセレクタに含まれていたが、なぜかそれをコピペするとレイアウトが崩れた　*/
.FirstView__bg-image--left-rectangle{
  top: -70px;
  left: 0;
  z-index: 1;
}

/* 右下 */
.FirstView__bg-image--right-rectangle{
  right: 0;
  bottom: -70px;
  z-index: 1;
}

/* 円 */
.FirstView__bg-image--fill-rectangle{
  top: 84px;
  left: -70px;
  z-index: 2;
}

/* メイン画像 */
.FirstView__bg-image--main-visual{
  top: -70px;
  right: 0;
  width: 775px;
  z-index: 3;
}
  
.FirstView__container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}

.FirstViewContent {
  position: relative;
  width: fit-content;
}

.FirstViewContent__title {
  position: relative;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 63px;
  margin-bottom: 16px;
}

.FirstViewContent__badge-image {
  position: absolute;
  top: -105px;
  right: -150px;
  z-index: 10;
}

.FirstViewContent__button {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.FirstViewContent__button:hover {
  background-color: rgba(247, 146, 20, 0.5);
}

.FirstViewContent__caption {
  font-size: 12px;
  line-height: 16px;
}

p {
  color: #000000
  margin: 0;
  padding: 0;
}

}
