.Header {
  background-color: #FFFFFF;
  display: grid;
  height: 70px;
  width: 100%
}

.Header--common
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1080px) 
  .Header {
  position: fixed;
}

.HEADERContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-right: 36px;
  margin-bottom: 0;
  margin-left: 36px;
  max-width: 100%
  position: relative;
}

div {
  margin: 0;
}

a {
  color: #FFFFFF
  text-decoration: none;
}

.HEADERLogo {
  align-items: center;
}

.HeaderLogo__image {
  display: block;
  height: 20px;
  width: auto;
}

.HeaderLogo__image--sp {
  display: none;
  height: 16px;
  width: auto;
}

.HEADERMenu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

a {
  color: #000000
}

.FIRSTVIEW {
  position: relative;
  height: 739px;
}

.FirstView__bg-image {
  position: absolute;
  z-index: -1;
}

.FirstView__bg-image--left-rectangle {
  top: -70px;
  left: 0;
}

.FirstView__bg-image--right-rectangle {
  right: 0;
  bottom: -70px;
}

.FirstView__bg-image--fill-rectangle {
  top: 84px;
  left: -70px;
}

.FitrstView__bg-image--main-visual {
  top: -70px;
  left: 0;
  width: 775px;
}

.FirstView__whole-image {
  display: none;
}

.FIRSTVIEWContainer {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 219px;
}

.FIRSTVIEWContent {
  position: relative;
  width: fit-content;
}

.FIRSTVIEWContent-title {
  color: #000000;
  font-family: "Loto", sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 63px;
  margin-bottom: 16px;
}

.FirstViewContent__badge-image {
  position: absolute;
  top: -105px;
  right: -150px;
}

.FirstViewContent__button {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.FirstViewContent__button:hover {
  background-color: rgba(247, 146, 20, 0.5)
}

.FirstViewContent__caption {
  font-color: #000000
  font-size: 12px;
  font-height: 16px;
}



  

  

  
